@model IEnumerable<SPG_Fachtheorie.Aufgabe2.Model.Class>

<h1>Klassen</h1>

<table>
    <thead>
        <tr>
            <th>Klassenname</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var klasse in Model)
        {
                <tr>
                    <td>
                        <a href="@Url.Action("Klasse", "Konferenz", new { klasse = klasse.Name })">@klasse.Name</a>
                    </td>
                </tr>
        }
    </tbody>
</table>


